.hero {
	background: black;
	color: white;
	text-align: center;
	padding: 32px 16px;
}

.navigation {
	display: flex;
	justify-content: end;
	list-style: none;
	background: darkslateblue;
	padding: 8px;
	margin: 0;
}

.navigation li {
	margin: 0 16px;
}

.navigation a {
	color: white;
	font-weight: bold;
}
.navigation a:hover {
	color: #76c7c7;
}
