body {
	font-family: Arial, sans-serif;
	color: white;
	background-color: black;
	padding: 0;
	margin: 0;
}

.hero {
	background: black;
	color: white;
	text-align: center;
	padding: 32px 16px;
}

.navigation {
	display: flex;
	justify-content: center;
	list-style: none;
	background: darkslateblue;
	padding: 8px;
	margin: 0;
}

.navigation li {
	margin: 0 16px;
}

.navigation a {
	color: white;
	font-weight: bold;
	transition: color 0.4s ease;
}
.navigation a:hover {
	color: #76c7c7;
}

.navigation-toggle {
	display: none;
	color: white;
	font-size: 22px;
	cursor: pointer;
}

.navigation-menu {
	display: none;
	background: rgb(1, 1, 1);
	list-style-type: none;
	width: 100%;
}

.navigation.active .navigation-menu {
	display: block;
}
.experience {
	padding: 32px 16px;
	background: darkslateblue;
	color: white;
	text-align: center;
}
.experience h2 {
	color: #76c7c7;
}
.experience p {
	font-size: 19px;
	line-height: 28px;
}
.skills {
	padding: 32px 16px;
	background: darkslateblue;
	color: white;
	text-align: center;
}
.skills h2 {
	color: #76c7c7;
}

.skills ul {
	list-style: circle;
	padding: 0;
	margin: 16px auto;
}

.skills li {
	line-height: 28px;
	font-size: 19px;
}

.section {
	display: flex;
	padding: 32px 16px;
	flex-wrap: wrap;
	justify-content: center;
}

.section-item {
	background: #222;
	color: white;
	text-align: center;
	flex: 1 1 calc(30% - 31);
	padding: 15px;
	margin: 15px;
	border-radius: 7px;
}

.section-item h2,
h3 {
	font-size: 22.5px;
	color: red;
	margin-bottom: 10px;
	text-shadow: 0 2px 4px;
}

.section-item p {
	font-size: 16px;
	color: lightgrey;
	line-height: 26px;
}

.section-item:hover {
	animation: venom-animation 1s infinite;
}
@media (max-width: 750px) {
	.section-item {
		flex: 1 1 90%;
	}
}

@keyframes venom-animation {
	0% {
		box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
	}
	50% {
		box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
	}
	100% {
		box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
	}
}
